$purpleLight: #302d43;
$purpleDark: #282639;
$greenNeon: #92CF48;
$greyLightBG: #F4F6F9;
$greyDarkBG: #EAEDF3;
$greyDarkFront: #6C7882;
$greyLightFront: #BBC1CD;
$greyLightFront2: #A5ADBD;
$orange: #F48320;
$purple: #744BCE;